In [1]:
# imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
# Lendo o arquivo CSV
df = pd.read_csv('ds_salaries.csv')

# Exibindo o DataFrame
print(df)

      id  work_year experience_level employment_type  \
0      0       2020               MI              FT
1      1       2020               SE              FT
2      2       2020               SE              FT
3      3       2020               MI              FT
4      4       2020               SE              FT
..   ...        ...              ...             ...
602  602       2022               SE              FT
603  603       2022               SE              FT
604  604       2022               SE              FT
605  605       2022               SE              FT
606  606       2022               MI              FT

                      job_title  salary salary_currency  salary_in_usd  \
0                Data Scientist   70000             EUR          79833
1    Machine Learning Scientist  260000             USD         260000
2             Big Data Engineer   85000             GBP         109024
3          Product Data Analyst   20000             USD          20000
4     Machine Learning Engineer  150000             USD         150000
..                          ...     ...             ...            ...
602               Data Engineer  154000             USD         154000
603               Data Engineer  126000             USD         126000
604                Data Analyst  129000             USD         129000
605                Data Analyst  150000             USD         150000
606                AI Scientist  200000             USD         200000

    employee_residence  remote_ratio company_location company_size
0                   DE             0               DE            L
1                   JP             0               JP            S
2                   GB            50               GB            M
3                   HN             0               HN            S
4                   US            50               US            L
..                 ...           ...              ...          ...
602                 US           100               US            M
603                 US           100               US            M
604                 US             0               US            M
605                 US           100               US            M
606                 IN           100               US            L

[607 rows x 12 columns]

In [3]:
# Exibindo as 5 primeiras linhas do DataFrame
print(df.head(10))

# Exibindo as 5 últimas linhas do DataFrame
print(df.tail(1))

   id  work_year experience_level employment_type                   job_title  \
0   0       2020               MI              FT              Data Scientist
1   1       2020               SE              FT  Machine Learning Scientist
2   2       2020               SE              FT           Big Data Engineer
3   3       2020               MI              FT        Product Data Analyst
4   4       2020               SE              FT   Machine Learning Engineer
5   5       2020               EN              FT                Data Analyst
6   6       2020               SE              FT         Lead Data Scientist
7   7       2020               MI              FT              Data Scientist
8   8       2020               MI              FT       Business Data Analyst
9   9       2020               SE              FT          Lead Data Engineer

     salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0     70000             EUR          79833                 DE             0
1    260000             USD         260000                 JP             0
2     85000             GBP         109024                 GB            50
3     20000             USD          20000                 HN             0
4    150000             USD         150000                 US            50
5     72000             USD          72000                 US           100
6    190000             USD         190000                 US           100
7  11000000             HUF          35735                 HU            50
8    135000             USD         135000                 US           100
9    125000             USD         125000                 NZ            50

  company_location company_size
0               DE            L
1               JP            S
2               GB            M
3               HN            S
4               US            L
5               US            L
6               US            S
7               HU            L
8               US            L
9               NZ            S
      id  work_year experience_level employment_type     job_title  salary  \
606  606       2022               MI              FT  AI Scientist  200000

    salary_currency  salary_in_usd employee_residence  remote_ratio  \
606             USD         200000                 IN           100

    company_location company_size
606               US            L

In [4]:
# Exibindo informações básicas sobre o DataFrame
print(df.info())

# Exibindo estatísticas descritivas das colunas numéricas
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB
None
               id    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [ ]:
df.shape

In [ ]:
print(df['job_title'].value_counts())

In [ ]:
# Calculando a média das colunas numéricas
print(df.mean())

#Calculando a mediana das colunas numéricas
print(df.median())

# Calculando o valor mínimo das colunas
print(df.min())

# Calculando o valor máximo das colunas
print(df.max())

# Calculando a soma das colunas
print(df.sum())

In [ ]:
df.corr()

In [ ]:
grouped = df.groupby(['experience_level','employment_type'])['salary_in_usd'].mean()
print(grouped)

In [ ]:
pivot = df.pivot_table(index='experience_level', 
columns='employment_type', values='salary_in_usd', aggfunc='mean')
print(pivot)

In [ ]:
# Excluindo linhas com valores ausentes usando dropna()
df_dropna = df.dropna()
print(df_dropna)

# Preenchendo valores ausentes com fillna()
df_fillna = df.fillna(0)
print(df_fillna)

# Preenchendo valores ausentes com a média das colunas usando fillna()
mean = df.mean()
df_fillna_mean = df.fillna(mean)
print(df_fillna_mean)

In [ ]:
import pandas as pd
import numpy as np

# Criar um DataFrame a partir de um dicionário
data = {
    'col1': [1, 2, 3, 4],
    'col2': [4, 5, 6, 7],
    'col3': ['A', 'B', 'C', 'D']
}
df = pd.DataFrame(data)

# Acessar uma coluna específica pelo nome da coluna
cols = df[['col1','col3']]
print(cols)

# Acessar uma linha específica pelo índice
row1 = df.loc[0]
print(row1)

# Acessar uma célula específica através do índice de linha e nome de coluna
cell = df.loc[0, 'col2']
print(cell)

In [ ]:
import pandas as pd

# Criar um DataFrame a partir de um dicionário
data = {
    'col1': [1, 2, 3, 4],
    'col2': [4, 5, 6, 7],
    'col3': ['A', 'B', 'C', 'D']
}
df = pd.DataFrame(data)

# Adicionar uma nova coluna
df['col4'] = [10, 20, 30, 40]
print(df)

# Excluir uma coluna
df = df.drop(['col4'], axis=1)
print(df)


# Renomear colunas
df = df.rename(columns={'col1': 'coluna_1', 'col2': 'coluna_2', 'col3': 'coluna_3'})
print(df)